@font-face {
    font-family: "dastnevis";
    src: url("../fonts/danstevis.otf");
}
@font-face {
    font-family: "graphic";
    src: url("../fonts/Graphik\ Arabic\ Bold.otf");
}
@font-face {
    font-family: "vazir";
    src: url("../fonts/Vazirmatn-VariableFont_wght.ttf");
}