:root {
  --wave-color-1: rgb(5, 40, 57);
  --wave-color-2: rgb(7, 63, 91);
  --pallet-1: #061824;
  --pallet-2: #48a39c;
  --pallet-3: #f5bf1e;
  --pallet-4: #e3f2f5;
  /* --pallet-1: #164863;
  --pallet-2: #427d9d;
  --pallet-3: #9bbec8;
  --pallet-4: #ddf2fd; */
}
